APP_HOST='127.0.0.1'
APP_PORT=3000

DB_URL='postgresql://test:test@localhost:5432/test'

AUTHENTIK_EXTERNAL_HOST='127.0.0.1'
AUTHENTIK_EXTERNAL_PORT=9000

OAUTH2_CLIENT_ID='client_id'
OAUTH2_CLIENT_SECRET='supersecret'

LOG_LEVEL='DEBUG'